obj/Bird-Box.csproj.nuget.dgspec.json
obj/Bird-Box.csproj.nuget.g.props
obj/Bird-Box.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/Bird-Box.AssemblyInfo.cs
obj/Debug/net7.0/Bird-Box.AssemblyInfoInputs.cache
obj/Debug/net7.0/Bird-Box.assets.cache
obj/Debug/net7.0/Bird-Box.csproj.AssemblyReference.cache
obj/Debug/net7.0/Bird-Box.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Bird-Box.GlobalUsings.g.cs
obj/Debug/net7.0/Bird-Box.RazorAssemblyInfo.cache
obj/Debug/net7.0/Bird-Box.RazorAssemblyInfo.cs
obj/Debug/net7.0/project.razor.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/Bird-Box
bin/Debug/net7.0/Bird-Box.deps.json
bin/Debug/net7.0/Bird-Box.dll
bin/Debug/net7.0/Bird-Box.pdb
bin/Debug/net7.0/Bird-Box.runtimeconfig.json
bin/Debug/net7.0/Bird-Box.staticwebassets.runtime.json
bin/Debug/net7.0/BirdNET-Analyzer/eBird_taxonomy_codes_2021E.json
obj/Debug/net7.0/apphost
obj/Debug/net7.0/Bird-Box.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Bird-Box.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Bird-Box.dll
obj/Debug/net7.0/Bird-Box.genruntimeconfig.cache
obj/Debug/net7.0/Bird-Box.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/Bird-Box.pdb
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/ref/Bird-Box.dll
obj/Debug/net7.0/refint/Bird-Box.dll
obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net7.0/scopedcss/bundle/Bird-Box.styles.css
obj/Debug/net7.0/scopedcss/projectbundle/Bird-Box.bundle.scp.css
obj/Debug/net7.0/staticwebassets/msbuild.Bird-Box.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net7.0/staticwebassets/msbuild.build.Bird-Box.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Bird-Box.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Bird-Box.props
Recordings/
