obj/Bird-Box.csproj.nuget.dgspec.json
obj/Bird-Box.csproj.nuget.g.props
obj/Bird-Box.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/
BirdNET-Analyzer/
Recordings/
Data/SqlLiteResults.db
.gitignore
Data/SqlLiteResults.db-wal
Data/SqlLiteResults.db-shm
bin/*
.gitignore
releases/